{:kotoba.app/id "cloud.itonami.isic-8430", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiahrk6qwignl3n5ddgewxigyzks24jlafjqhlvswigtx2eulxumia", :kotoba.app/embed-url "ipfs://bafkreiahrk6qwignl3n5ddgewxigyzks24jlafjqhlvswigtx2eulxumia", :published {:archive "https://kotobase.net/ipfs/bafkreiahrk6qwignl3n5ddgewxigyzks24jlafjqhlvswigtx2eulxumia", :size 72067, :put-status 201, :get-status 200, :at "2026-08-15T13:39:36.179Z"}}
